<div id="particles-js">
  <div class="content">
      <h1>
        <img class="profile-img" src="{{site.baseurl}}/assets/img/{% if site.pic %}{{ site.pic }}{% else %}profile.png{% endif %}" alt="profile picture" />
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="icons-header">
        <a icon-label="Send me an email" href="mailto:{{site.email}}"><i class="icon fa fa-envelope-o"></i></a>
        <a icon-label="Take a look at my LinkedIn profile" target="_blank" href="https://www.linkedin.com/in/{{site.linkedin_username}}"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a icon-label="Fork me on Github" target="_blank" href="https://github.com/{{site.github_username}}"><i class="icon fa fa-github" aria-hidden="true"></i></a>
        <a icon-label="Interested on my Resume?" target="_blank" href="http://guillermord.com/{{site.resume}}"><i class="icon fa fa-file-text-o" aria-hidden="true"></i></a>
      </div>
      <p/>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
