<div class="container">
  <div class="user-details">
    <h3> My Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="four columns">
      <img alt="" src="{{ "/assets/img/glider.png" | prepend: site.baseurl }}" />
      <a class="project-link" target="_blank" href="https://github.com/gelemias/RDGliderViewController">RDGliderViewController</a>
    </div>
    <div class="four columns">
      <img alt="" class"portfolio-img" src="{{ "/assets/img/t-mobile.png" | prepend: site.baseurl }}" />
      <a class="project-link" target="_blank" href="https://www.t-mobiletuesdays.com/">T-Mobile Tuesdays</a>
    </div>
    <div class="four columns">
      <img alt="" src="{{ "/assets/img/mydrive.png" | prepend: site.baseurl }}" />
      <a class="project-link" target="_blank" href="https://www.tomtom.com/en_us/drive/car/mydrive/">Tomtom MyDrive</a>
    </div>
  </div>

  <div class="row user-projects">
    <div class="four columns">
      <img alt="" src="{{ "/assets/img/jumpy.png" | prepend: site.baseurl }}" />
      <a class="project-link" target="_blank" href="https://goo.gl/OPSLfp">Jumpy Chewie</a>
    </div>
    <div class="four columns">
      <img alt="" src="{{ "/assets/img/urbanforms.png" | prepend: site.baseurl }}" />
      <a class="project-link" target="_blank" href="http://goo.gl/wzUWVF">Urban Forms</a>
    </div>
    <div class="four columns">
      <img alt="" src="{{ "/assets/img/migawkarta.png" | prepend: site.baseurl }}" />
      <a class="project-link" target="_blank" href="http://goo.gl/iv8aoc">MigawKarta</a>
    </div>
  </div>

  <div class="row user-projects">
    <div class="four columns">
      <img alt="" src="{{ "/assets/img/iule.png" | prepend: site.baseurl }}" />
      <a class="project-link" target="_blank" href="http://iule.unileon.es/">iUle</a>
    </div>
    <div class="four columns">
      <img alt="" src="{{ "/assets/img/blizzability.png" | prepend: site.baseurl }}" />
      <a class="project-link" target="_blank" href="http://www.bizzability.com/">Blizzability</a>
    </div>
    <div class="four columns">
    </div>
  </div>

</div>
