<div class="container">
  <div class="user-details">
    <h3> My Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="four columns">
      <img alt="" class="portfolio-img" src="{{ "/assets/img/TGlider.png" | prepend: site.baseurl }}" />
      <a class="project-link" target="_blank" href="https://github.com/gelemias/RDGliderViewController">RDGliderViewController</a>
      <p>A responsive control written in Objective-C for a draggable ViewController gliding over another ViewController.</p>
    </div>
    <div class="four columns">
      <img alt="" class="portfolio-img" src="{{ "/assets/img/tTmo.png" | prepend: site.baseurl }}" />
      <a class="project-link" target="_blank" href="https://www.t-mobiletuesdays.com/">T-Mobile Tuesdays</a>
      <p>Very acclaimed app in USA for offering vouchers and discounts to users, several times in the Top 50 in the AppStore.</p>
    </div>
    <div class="four columns">
      <img alt="" class="portfolio-img" src="{{ "/assets/img/TDrive.png" | prepend: site.baseurl }}" />
      <a class="project-link" target="_blank" href="https://www.tomtom.com/en_us/drive/car/mydrive/">Tomtom MyDrive</a>
      <p>Tomtom's client for MyDrive service. to plan a route from you device and then read it in your nav device.</p>
    </div>
  </div>

  <div class="row user-projects">
    <div class="four columns">
      <img alt="" class="portfolio-img" src="{{ "/assets/img/tJumpy.png" | prepend: site.baseurl }}" />
      <a class="project-link" target="_blank" href="https://goo.gl/OPSLfp">Jumpy Chewie</a>
      <p> Jumpy Chewie was a universal game for iOS written in Objective-C using SpriteKit.</p>
    </div>
    <div class="four columns">
      <img alt="" class="portfolio-img" src="{{ "/assets/img/tUrban.png" | prepend: site.baseurl }}" />
      <a class="project-link" target="_blank" href="http://goo.gl/wzUWVF">Urban Forms</a>
      <p>App to complement the yearly urban art festival with the same name happening in the city of Lodz, Poland.</p>
    </div>
    <div class="four columns">
      <img alt="" class="portfolio-img" src="{{ "/assets/img/tMiga.png" | prepend: site.baseurl }}" />
      <a class="project-link" target="_blank" href="http://goo.gl/iv8aoc">MigawKarta</a>
      <p>It allows tracking all public transportations of the city of Lodz, including management of local travel-card called "Migawka".</p>
    </div>
  </div>

  <div class="row user-projects">
    <div class="four columns">
      <img alt="" class="portfolio-img" src="{{ "/assets/img/tDb.png" | prepend: site.baseurl }}" />
      <a class="project-link" target="_blank" href="#">Deutsche bank Summit app</a>
      <p>iPad adhoc app to help executives manage their relation with delegates / attendees to the Summit conference.</p>
    </div>
    <div class="four columns">
      <img alt="" class="portfolio-img" src="{{ "/assets/img/tUle.png" | prepend: site.baseurl }}" />
      <a class="project-link" target="_blank" href="http://iule.unileon.es/">iUle</a>
      <p>It was an app for the University of León which connected with existing University platform allowing students and faculty to access all its information.</p>
    </div>
    <div class="four columns">
      <img alt="" class="portfolio-img" src="{{ "/assets/img/tHp.png" | prepend: site.baseurl }}" />
      <a class="project-link" target="_blank" href="http://www.bizzability.com/">HP Designjet Preview</a>
      <p> A Windows desktop utility that provided an extra help using a selected range of large format HP printers</p>
    </div>
  </div>

</div>
